@import "tailwindcss";

@theme {
  --color-brand-green: #4CAF50;
  --color-brand-green-light: #E8F5E9;
  --color-brand-green-pastel: #A5D6A7;
  --color-bg-utama: #e9ebe6;
}

body {
  @apply bg-bg-utama;
}